html, body { height:100%; }
body { background:url('../assets/images/background.jpg') no-repeat top left #000; }
.clear { clear:both; }

#overlay { width:100%; min-height:100%; background:#000; position:absolute; top:0; left:0;  z-index:9998; display:none; }

.model {  }
#columnModal { width:500px; height:500px;  position:absolute; top:10%;  left:50%; margin:0 -250px 0 -250px; z-index:99999; display:none; }
#tunnelModal { width:500px; height:500px;  position:absolute; top:10%;  left:50%; margin:0 -250px 0 -250px; z-index:99999; display:none; }
#theatreModal { width:500px; height:500px;  position:absolute; top:10%;  left:50%; margin:0 -250px 0 -250px; z-index:99999; display:none; }





/* MAIN LAYOUT */
.footer { width:100%; height:115px; color:#fff; position:absolute; bottom:-115px; left:0; }


.sidebar { width:317px; height:590px; position:absolute; z-index:200; top:180px; left:0px; background:url('../assets/images/bg_sidebar.jpg') no-repeat; } 
.sidebar { background-size:317px 100%; }
.sidebar .twitter { display:none; }
.sidebar .twitter .pliny { margin:0 0 10px 0; }



/* tweet modal */
#columnModal { width:500px; height:500px;  position:absolute; top:10%;  left:50%; margin:0 -250px 0 -250px; z-index:99999; display:none; }
.tweet_modal { width:500px; height:500px; background:#fff; position:absolute; top:10%; left:50%; margin:0 -250px 0 -250px; z-index:99999; display:none;}

/* map content */
.maps_container { position:relative; margin:20px 0 0 317px; height:865px; }





.top { width:710px; height:189px; background:url('../assets/images/top.png') no-repeat; position:absolute; top:0px; left:0px; z-index:300;}


/* tabs */
.tab-controls li { float:left; }

.twitter li {  }
.about { display:none; }
.coverage { display:none; }
.locations { display:none; }



